<nav class='mypageHeader'><span>Biblios</span><a href="/logout">Log Out</a></nav>
<div id='createContent'>
<form action="/create" method='post'>
  <label for="input[channel]">Name your Biblio</label>
  <input type="text" name='input[channel]'><br>
  <label for="input[handle1]">Enter a Handle</label>
  <input type="text" name='input[handle1]'><br>
  <label for="input[handle2]">Enter a Handle</label>
  <input type="text" name='input[handle2]'><br>
  <label for="input[handle3]">Enter a Handle</label>
  <input type="text" name='input[handle3]'><br>
  <input type="submit" value='Submit!'>
</form>
</div>
