<nav class='mypageHeader'><span><a id='logo' href="/my_page">Biblios</a></span><a href="/logout">Log Out</a></nav>
<div class='content'>
  <form action="/edit" method='post' class='form'>
    <label for="input[channel]">Name your Biblio</label>
    <input type="text" name='input[channel]' value = "<%=@channel.name %>"><br>
    <% @channel.users.each do |user| %>
    <label for="input[handle][]">Enter a Handle</label>
     <input type="text" name='input[handle][]' value='<%=user.username%>'><br>
    <% end %>
    <input type="hidden" value='<%=@channel.id%>' name='input[channel_id]'>
    <input type="submit" value='Submit!'>
  </form>
  </div>
