<nav class='mypageHeader'><span><a id='logo' href="/my_page">Biblios</a><a href="/logout">Log Out</a></span></nav>
<div id='mypage'>
<div id='mypageContent'>
  <h1><%=@channel.name%></h1>
  <% @channel.users.each do |user| %>
  <h2><%=user.username  %></h2>
  <ul>
  <% user.tweets.each do |tweet| %>
  <li><%= tweet.text %></li>
  <% end %>
  </ul>
  <% end %>
</div>
</div>
